doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      | SILVEO - Solution delivery consulting

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
    link(href="style/styles.css", rel="stylesheet")

  body
    //include pages/header.jade
    
    
    main.main-container
      .main-content
        include pages/section1.jade
        include pages/section1bis.jade
        include pages/section2.jade
        include pages/section3.jade
    
    
    
    // inject:js
    // endinject
