doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      | SILVEO - Solution delivery consulting

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
    link(href="styles.css", rel="stylesheet")

  body
    .godown
      span.ti-arrow-circle-down
    header.logo-container
      .logo-overlay
      .logo-content
        .logo-inner
          .logo-tab
            img(id="logo", src="images/logo.png")
    div.opener-container
      a#menuopener
        span#opener
          span.ti-menu
          | MENU
        span#closer
          span.ti-close
          | CLOSE
    .menu-container
      .menu-content
        ul
          li
            a
              | MENU 1
          li
            a
              | MENU 2
          li
            a
              | MENU 3
    
    
    main.main-container
      .main-content
        .one-section
          include pages/section1.jade
        .one-section
          | SECOND SECTION 
    
    
    
    
    // inject:js
    // endinject
