doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      | SILVEO - Solution delivery consulting

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
    link(href="style/styles.css", rel="stylesheet")

  body
    include pages/header.jade
    
    main.main-container
      .main-content
        .one-section
          .one-section-container
            h1
              | We are SILVEO
            h2
              | A SAP consulting company
            h5
              a(href="index.html")
                | take the company tour!
        .one-section.hasbg
          .one-section-container
            h2.bordered.isblue
              |   We believe in a customer centric approach 
              br
              span.ion-happy-outline
            h2.isblue
              
            h3.isblue
              |  Expertise is not enough 
            ul.twocol
              li
                p
                  | Functional assistance, methodology and change management are always left aside during project implementation
              li
                p
                  | You want a Partner with the functional and technical ability and agility to assist the solution implementation on the various tools involved: SAP, Flexnet (APRISO), MES, EDI etc.
            h3.isblue
              | We focus on your needs
            p
              | No more gap between business expectations and project realizations
            
            h3.isblue
              | You care about our attitude
            p
              | Easy to find SAP experts but much harder to find resources with worldwide mobility, customer-centric attitude and communication skills
          
        .one-section
          .one-section-container
            h2.isblue.bordered
              | Key differentiators
              br
              span.ion-key
            p
              b 
                | 1.  
              | SILVEO is a consulting company focused towards Supply Chain & Manufacturing IS solutions end to end implementation.
            p.ion-more
            p
              b 
                | 2.  
              | Our team is made of Senior Consultants with solid experience in automotive business processes, international context and implementation methodology.
            p.ion-more
            p
              b 
                | 3.  
              | An end-to-end functional coverage in Supply Chain & Manufacturing (From Strategic planning to execution)
            p.ion-more
            p
              b 
                | 4.  
              | Technical capabilities on different solutions involved in these processes (SAP, Apriso, Web-EDI, EDI, BI etc) Managerial and methodological skills with high quality deliverablesHuman values in terms of communication, curiosity, adaptability and mobility to truly be “cross field"
    
    
  script(src="js/vendors/jquery.min.js")
  script(src="js/silveo-recent.js")
