article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin: auto;
}
a {
  color: #24518a;
  text-decoration: none;
}
a:active {
  outline: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.onedot {
  height: 20px;
  float: left;
}
.content {
  margin: auto;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 0 80px 0;
}
.container:after {
  border-bottom: 3px solid #f6921c;
  opacity: 0.5;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
  color: #24518a;
  text-transform: uppercase;
}
h3 {
  font-size: 2em;
  margin-top: 50px;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
p {
  font-size: 1.1em;
  font-weight: 200;
}
img.padded {
  margin-top: 40px;
}
.approach {
  background: url("../images/appbg.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
h2.bigtitle {
  display: block;
  margin: 0 0 40px 0;
  font-size: 30px;
  padding: 0px;
  color: #fff;
  text-align: center;
}
h2.catchphrase {
  color: #fff;
  margin: 0 0 50px 0;
  font-weight: 200;
  text-shadow: 2px 2px #111;
  text-align: center;
}
.halfcol {
  position: relative;
  margin-bottom: 20px;
}
.halfcol h3.catch2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 200;
  text-shadow: 1px 1px #111;
  margin-left: 20px;
  margin-bottom: 10px;
}
.halfcol p.explain {
  margin-left: 20px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 0;
}
.halfcol img {
  width: 94%;
  margin: 10px 3%;
  border: 1px solid #fff;
}
.halfcol:before {
  position: absolute;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  content: '';
}
.clear {
  clear: both;
}
.quote {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}
.author {
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}
.competencies {
  background: #194577 url("../images/pattern.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.motto {
  margin: 50px 0;
}
.motto img {
  width: 100%;
}
.team {
  background: #194577 url("../images/cubes.png");
}
.team .onemember {
  background: #fff;
  display: inline-block;
  margin: auto;
  height: 200px;
  position: relative;
  margin-top: 100px;
  width: 100%;
}
.team .onemember img {
  width: 150px;
  position: absolute;
  top: -70px;
  left: 50px;
}
.team .onemember p {
  margin: 10px;
  margin-top: 80px;
  text-align: center;
  font-size: 18px;
}
.team .fewnumbers {
  margin: 60px auto;
}
.team .fewnumbers img {
  width: 80%;
  display: block;
  margin: auto;
  background: #fff;
  padding: 20px;
}
.location {
  background: #194577;
}
a.trustus {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
}
#title1,
#title2,
#title3 {
  animation-duration: 1s;
}
#title1 {
  animation-delay: 1s;
}
#title2 {
  animation-delay: 2s;
}
#title3 {
  animation-delay: 3s;
}
.footer {
  background: #f6921c;
  opacity: 0.9;
  width: 100%;
  text-align: center;
}
.footer p {
  padding: 10px 0;
  margin: 0;
}
.menu-top h1 {
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  color: #fff;
  line-height: 60px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.menu-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 40px;
  float: right;
}
.menu-top ul li {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  padding: 11px 0;
}
.menu-top ul li a {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  padding: 0 20px;
  line-height: 30px;
  vertical-align: bottom;
}
.menu-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(25,69,119,0.9);
  z-index: 1000;
  padding: 10px 50px;
  animation-delay: 3s;
  transition: all 1s;
}
.stuck {
  animation-delay: 0s;
  animation-duration: 0s;
}
.splash {
  background: #194577;
  min-height: 650px;
  position: relative;
}
.splash .splash-content {
  position: absolute;
  background: rgba(0,0,0,0);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 200px;
}
.splash .splash-content h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
}
.splash .splash-content img {
  margin: auto;
}
.orange {
  color: #f7931d !important;
  font-weight: bold;
}
@media (max-width: 992px) {
  .splash {
    margin-bottom: 50px;
  }
  .splash .splash-content {
    padding-top: 100px;
    text-align: center;
  }
  .splash .splash-content img {
    margin-bottom: 50px;
  }
  .splash .splash-content h2 {
    font-size: 2.5em;
  }
}
.slick-slider {
  margin-bottom: 0;
}
.intro-container {
  padding-top: 20px;
  margin: 50px auto;
  position: relative;
  max-width: 1100px;
}
.intro .slick-dots {
  bottom: 0px;
}
.intro .oneslide {
  margin: 0;
  height: 500px;
  width: 600px;
  background: #fff;
}
.intro .oneslide .thetext {
  position: relative;
  float: left;
  width: 26%;
  margin: 50px 2%;
}
.intro .oneslide .thetext h2 {
  margin: 0;
  color: #000;
  font-weight: bold;
}
.intro .oneslide img {
  width: 70%;
  vertical-align: middle;
  margin: 0 0 0 30%;
}
