.competencies.clearfix#competencies
  .container
    h2.bigtitle
      | OUR 
      span.orange
        | COMPETENCIES
    h2.catchphrase
      | End to end implementation requires 
      b
        | experience, technical capabilities 
      | and 
      b
        | availability
    .col-md-6
      .halfcol
        h3.catch2
          | SAP & MOM Logistic expertise
        p.explain
          | SAP expertise (PP/MM/LE/SD/QM/PM)
        p.explain
          | MES/LES expertise (APRISO/Barcode)
    
    .col-md-6      
      .halfcol  
        h3.catch2
          | SAP Financial
        p.explain
          | Financial solution integration (FI/CO/PS/IM/FM)  
    .clear
    
    .col-md-6
      .halfcol  
        h3.catch2
          | Functional expertise
        p.explain
          | Logistic expertise: end-to-end functional coverage in Supply Chain & Manufacturing (From Strategic planning to execution)
    
    .col-md-6  
      .halfcol
        h3.catch2
          | Digital transformation
        p.explain
          | Multi-platform development and mobility
        p.explain
          | Business intelligence and data analysis
        p.explain
          | Digitalization strategy
      
    .clear
    .col-md-6
      .halfcol
        h3.catch2
          | Project Management
        p.explain
          | Project management methodology
        p.explain
          | IT governance strategy
        p.explain
          | Intercultural management
        p.explain
          | Risk analysis
        p.explain
          | Change management
      .clear


  .col-md-4
  .col-md-4
    a.trustus.animated.infinite.pulse(href="#", data-toggle="modal", data-target="#myModal")
      img.img-responsive(src="images/trustus-01.png")
  .col-md-4
  .clearfix


.modal.fade(id="myModal", tabindex="-1", role="dialog",aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true")
            | &times;
        h4.modal-title(id="myModalLabel")
          | They trust us
      
      .modal-body
        img.img-responsive(src="images/trust-01.png")
      .modal-footer
        button(type="button",class="btn btn-default",data-dismiss="modal")
          | Close
