.approach#culture
  .container
    h2.bigtitle
      | OUR 
      span.orange
        | CULTURE
    h2.catchphrase
      | We believe in a 
      b
        | customer centric 
      | approach
    
    .col-md-6
      .halfcol
        h3.catch2
          | Team spirit is key
        p.explain
          | On top of expertise, human relationships and values are at the center of our consulting way. We are appraising team spirit, mutual support and human capital as one of our main core value. We are continuously seeking for the well-being and personal development of our talent, for a durable, loyal and long-term collaboration. This attitude shapes our company and strengthen our relationships with customers.
    
    .col-md-6
      .halfcol
        h3.catch2
          | Technical skills 
          b
            | is not enough
        p.explain
          | Being proactive, inventive to work, offering new solutions or thinking out of the box are a major building block of our consulting way. This creativity is the spark which will ignite new opportunities and enables us to demonstrate our added value. Our creativity is also expressed in the agility of our team and is made possible by encouraging all initiatives.
      
    .clear 
    .col-md-6
      .halfcol
        h3.catch2
          | Projects are 
          b
            | not only basic delivery
        p.explain
          | Our consulting  way is based on a proven methodology which enables our team to deliver projects on a high quality level.
          | It allows us to mitigate risk for our customers, costs and delays. 
          | Our approach is based on 7 project stages and 7 continuous streams (see image below).
    .col-md-6
      .halfcol
        h3.catch2
          | Being transparent 
          b
            | is not just 
          |  telling the good news !
        p.explain
          | We foster to have fewer customer but many projects with them. To achieve this, trust is an essential value. This integrity need to be proven on daily basis by being honest and transparent.
        p.explain
          | We have a motto: 'We say what we do and we do what we say'.
    .col-md-2
    .col-md-8
      a(href="#", data-toggle="modal", data-target="#stepsModal")
        img.padded.img-responsive(src="images/methodo-01.png")
    .col-md-2
      
    .col-md-12
      img.padded.img-responsive(src="images/motto-line-01.png")
    .clear
