.footer.clearfix
  .col-md-2
  .col-md-3
    .footerzone
      img(src='images/heart-01.png')
      p.zonetitle We love a good chat
      p.zonetext +33 1 74 31 12 03 
    
  .col-md-3
    .footerzone
      img(src='images/position-01.png')
      p.zonetitle Pop in for a cofee
      p.zonetext 9 rue Réaumur, Paris
  
  .col-md-3
    .footerzone
      img(src='images/mail-01.png')
      p.zonetitle drop us an email
      p.zonetext business@silveo.com
  
  .col-md-1
    
  .col-md-12
    p.center
      | All rights reserved SILVEO 2015
