header.logo-container
  .logo-overlay
  .logo-content
    .logo-inner
      .logo-tab
        img(id="logo", src="images/logo.png")
  .social-zone
    .one-social
      a(href="#")
        span.ion-email
    .one-social
      a(href="#")
        span.ion-social-facebook
          
    .one-social
      a(href="#")
        span.ion-social-twitter
    
    .one-social
      a(href="#")
        span.ion-social-linkedin
    .one-social
      a(href="#")
        span.ion-ios-book
div.opener-container
  a#menuopener
    span#opener
      span.ion-navicon-round
      | MENU
    span#closer
      span.ion-close-round
      | CLOSE
.menu-container
  .menu-content
    ul
      li
        a(click="")
          | MENU 1
      li
        a
          | MENU 2
      li
        a
          | MENU 3
