.location.clearfix#location
  .container.clearfix
    h2.bigtitle
      | OUR 
      span.orange
        | LOCATIONS
    h2.catchphrase
      | Come 
      b visit us 
      | for a 
      b cofee!
    .col-md-2
    .col-md-8
      img.img-responsive.pull-left(src="images/map.png")
    .col-md-2
    .clear
