.menu-top.animated.fadeIn
  ul.hidden-xs
    li
      a.scrollTo(href="#culture")
        | Culture
    li
      a.scrollTo(href="#competencies")
        | Competencies
    li
      a.scrollTo(href="#team")
        | Team
    li
      a.scrollTo(href="#location")
        | Location
  h1 SILVEO
  h1.pull-right.glyphicon.glyphicon-menu-hamburger.visible-xs
