.one-container
  .one-content
    h2
      span.ion-android-contacts
    h4
      | WE BELIEVE IN A CUSTOMER CENTRIC APPROACH
    ul.twocol
      li
        h5
          | EXPERTISE IS NOT ENOUGH.
        p
          | You want a Partner with the functional and technical ability and agility to assist the solution implementation on the various tools involved: SAP, Flexnet (APRISO), MES, EDI etc.
      li  
        h5
          | WE FOCUS ON YOUR NEEDS.
        p
          | No more gap between business expectations and project realizations
