.space-frame.hasbg.bg1(data-enter="fadeIn", data-exit="fadeOut", data-duration="3")
  .space-inner-frame
    h3
      | Human values are as important as expertise

.space-frame.hasbg.bg2(data-enter="fadeIn", data-exit="fadeOut", data-duration="3")
  .space-inner-frame
    h3
      | Worlwide projects shape human values
