.space-frame(data-exit="fadeOut" data-duration="1")
  .space-inner-frame
    img(src="/images/logo.png", style="height:100px")
.space-frame(data-transition="scaleIn fadeIn" data-duration="1")
  .space-inner-frame
    h2
      | SAP CONSULTING.
.space-frame(data-transition="fadeOut" data-duration="1")
  .space-inner-frame
    h2
      | SAP CONSULTING.

.space-frame(data-transition="fadeIn fadeOut" data-duration="2")
  .space-inner-frame
    h3
      | REINVENTED.
