.space-frame.orange(data-enter="slideInTop" data-exit="zoomOut fadeOut" data-duration="2.3")
  .space-inner-frame
    h1
      span.ion-thumbsup
    h3
      | YOU CARE ABOUT ATTITUDE.
.space-frame(data-enter="fadeIn", data-exit="scaleOut fadeOut", data-duration="3.4")
  .space-inner-frame
    h5
      | Easy to find SAP experts but much harder to find resources with worldwide mobility, customer-centric attitude and communication skills
