.one-container
  .one-content
    h4
      | YOU CARE ABOUT ATTITUDE.
    ul.twocol
      li
        p
          | Easy to find SAP experts but much harder to find resources with worldwide mobility, customer-centric attitude and communication skills
