.space-frame(data-enter="slideInLeft", data-exit="rotate3dOut fadeOut", data-duration="3.4")
  .space-inner-frame
    h1
      span.ion-android-contacts
    h2
      | { 1 }
    h4
      | WE BELIEVE IN A CUSTOMER CENTRIC APPROACH
.space-frame(data-enter="fadeIn", data-exit="scaleOut fadeOut", data-duration="3.4")
  .space-inner-frame
    h4
      | EXPERTISE IS NOT ENOUGH.
    p
      | You want a Partner with the functional and technical ability and agility to assist the solution implementation on the various tools involved: SAP, Flexnet (APRISO), MES, EDI etc.
.space-frame(data-enter="fadeIn", data-exit="scaleOut fadeOut", data-duration="3.4")
  .space-inner-frame
    h4
      | WE FOCUS ON YOUR NEEDS.
    p
      | No more gap between business expectations and project realizations
