.intro-container.hidden-xs
  .intro
    .oneslide
      .thetext
        h2
          | What we do
        p
          | Information Systems solution implementation and digitalization transformation
        p
          a(href="#")
            | Find out more
      img(src="images/slider/1.jpg")
    .oneslide
      .thetext
        h2
          | What we believe
        p
          | You care about behavior
        p
          a(href="#")
            | Find out more

      img(src="images/slider/2.jpg")
    .oneslide
      .thetext
        h2
          | Who we are
        p
          | Behind expert, there is small little heart pumping
        p
          a
            | Find out more
      img(src="images/3.png")
    
    .oneslide
      .thetext
        h2
          | Where you can find us
        p
          | We have several locations around the world. See where you can find us and share a coffee.
      img(src="images/slider/4.jpg")
