.splash.animated.fadeIn
  .splash-content
    .col-md-2
    .col-md-2.col-sm-12
      img.img-responsive.animated.fadeIn(src="images/biglogodot.png")
    .col-md-1
    .col-md-7
      h2.animated.fadeIn#title1 IS 
        span.orange Consulting
      h2.animated.fadeIn#title2 Human 
        span.orange values
      h2.animated.fadeIn#title3 Proven 
        span.orange methodology
