.team.clearfix#team
  .container
    h2.bigtitle
      | OUR 
      span.orange
        | TEAM
    h2.catchphrase
      b
        | Diversity of consultants 
      | is the 
      b
        | key to success
    
    .col-md-3
      .onemember
        img(src="images/team/karim.png")
        p
          b
            | KARIM AÏT EL MOUDEN
          br
          br
          | Chief Executive Officer
    .col-md-3
      .onemember
        img(src="images/team/marcantoine.png")
        p
          b
            | MARC-ANTOINE PEUCH
          br
          br
          | Chief Operation Officer & Quality Assurance
    
    .col-md-3
      .onemember
        img(src="images/team/lolo.png")
        p
          b
            | LAURENT AUTEBERT
          br
          br
          | Chief Innovation Officer
    
    
    .col-md-3
      .onemember
        img(src="images/team/romain.png")
        p
          b
            | ROMAIN DURANDO
            br
            br
          | Sales Director

    .clearfix
    
    .fewnumbers
      h2.catchphrase.padded
        | The team in numbers
      img.img-responsive(src="images/numbers.png")
