theblue = #102F5F
theorange = #F6921C

.menu-top
  position fixed
  top 0
  left 0
  right 0
  height 60px
  background transparent
  z-index 1000
  padding 10px 50px
  animation-delay 3s
  transition all 1s
  h1
    font-size 30px
    font-weight 600
    display inline-block
    color #ffffff
    line-height 60px
    vertical-align middle
    margin 0
    padding 0
  ul
    list-style none
    margin 0
    padding 0
    height 40px
    float right
    li
      display inline-block
      height 20px
      vertical-align middle
      padding 11px 0
      a
        font-weight 400
        font-size 20px
        color #fff
        padding 0 20px
        line-height 30px
        vertical-align bottom


.stuck
  animation-delay 0s
  animation-duration 0s
//.menu-top.stuck
  //background rgba(255,255,255,0.9)
  //border-bottom 1px solid theblue
  //h1
    //color #111

.splash
  background theblue //url(../images/graphy-dark.png)
  min-height 650px
  position relative
  .splash-content
    position absolute
    background rgba(0,0,0,0.0)
    left 0
    right 0
    top 0
    bottom 0
    padding-top 200px
    h2
      font-size 3em
      color #ffffff
      font-weight 600
      margin-bottom 10px
      margin-top 0
    img
      margin auto
.orange
  color #F7931D !important
  font-weight bold


@media (max-width: 992px)
  .splash
    margin-bottom 50px
    .splash-content
      padding-top:100px
      text-align center
      img
        margin-bottom 50px
      h2
        font-size 2.5em

.slick-slider
  margin-bottom 0
.intro-container
  padding-top 20px
  margin 50px auto
  position relative
  max-width 1100px
.intro
  .slick-dots
    bottom 0px

  .oneslide
    margin 0
    height 500px
    width 600px
    background #fff
    .thetext
      position relative
      float left
      width 26%
      margin 50px 2%
      h2
        margin 0
        color black
        font-weight bold

    img
      width 70%
      vertical-align middle
      margin 0 0 0 30%
