/*
  GENERAL STUFF
*/
html
  height 100%
  max-height 100%
  font-size 1em

body
  height: 100%;
  max-height: 100%;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.01rem;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  overflow-x: hidden;

h1
  font-size 60px
  font-weight 400
  margin 10px 0
h2
  font-size 45px
  font-weight 300
  margin 10px 0
h3
  font-size 35px
  font-weight 600
  margin 10px 0

h4
  font-size 30px
  font-weight 300

*:select
  background transparent

a:focus
  outline none

.godown
  position fixed
  bottom 10px
  right 37%
  z-index 1000
  a
    cursor pointer
    span
      font-size 30px

.main-container
  display: inline-block;
  position: relative;
  float: right;
  width: 74%;
  overflow: hidden;

.one-section
  height 2000px
  position relative

.one-container
  display table
  height 100%
  width 100%
  .one-content
    display table-cell
    vertical-align middle
    text-align center
    padding 40px
    h2.center-title
      display block

ul.twocol
  margin 0
  padding 0
  list-style none
  overflow hidden
  li
    col(1/2, 0,  2)








.bluebg
  background #446CB3 !important

.darkbg
  background #111 !important
  color #fff

.orangebg
  background #EE762A  !important

.redbg
  background #e25440 !important

.lightgreenbg
  background #23AB6A !important

.yellowbg
  background #f2a925 !important
