theblue = #24518A
theorange = #EA5A0B

body
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align center
a
  color theblue
  text-decoration none

h1
h2
h3
h4
h5
  font-weight 400

h1
  font-size 3em
h2
  font-size 2.5em
  color theblue
  text-transform uppercase
h3
  font-size 2em
  margin-top 50px
h4
  font-size 1.5em
h5
  font-size 1.2em
p
  font-size 1.1em
  font-weight 200

.center-text
  text-align center

.bordered
  border-top 2px solid theblue
  border-bottom 2px solid theblue
  padding 10px 0

.main-container
  margin-left 26%
  width 74%

.one-section
  position relative
  width 100%
  padding 20px 0
  display table
  .one-section-container
    display table-cell
    padding 0 100px
    vertical-align middle
.one-section.grey
  background #e3e3e3

.hasbg
  .one-section-container
    background rgba(255,255, 255, 0.8)

.isblue
  color theblue


ul.twocol
  margin 0
  padding 0
  list-style none
  li
    display inline-block
    width 49%
    text-align center
    vertical-align middle
