theblue = #24518A
theorange = #EA5A0B

body
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align center
h1
  font-weight 600
  margin 0
h2
h3
h4
h5
  font-weight 300
  margin 20px 0
h1
  font-size 105px

h2
  font-size 50px

h3
  font-size 40px

h4
  font-size 30px

h5
  font-size 25px

.blue
  background theblue
  color #ffffff

.orange
  background theorange
  color #000000
  background url('/images/bg.png')
  .space-inner-frame
    background rgba(255, 255, 255, 0.8)

.bg1
  background url('/images/1.jpg') no-repeat 50% 50%
  background-size cover

.bg2
  background url('/images/2.jpg') no-repeat 50% 50%
  background-size cover


.hasbg
  .space-inner-frame
    background rgba(255, 255, 255, 0.8)
